/*
css for main pages
*/

@font-face {
	font-family: 'bgBlack';
	src: url('assets/fonts/Brandon_blk.eot');

	src: url('assets/fonts/Brandon_blk.eot?#iefix') format('embedded-opentype'),

	url('assets/fonts/Brandon_blk.woff') format('woff'),

	url('assets/fonts/Brandon_blk.svg#Brandon_blk') format('svg'),

	url('assets/fonts/Brandon_blk.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

@font-face {
	font-family: 'bgBold';
	src: url('assets/fonts/Brandon_bld.eot');

	src: url('assets/fonts/Brandon_bld.eot?#iefix') format('embedded-opentype'),

	url('assets/fonts/Brandon_bld.woff') format('woff'),

	url('assets/fonts/Brandon_bld.svg#Brandon_bld') format('svg'),

	url('assets/fonts/Brandon_bld.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

@font-face {
	font-family: 'bgLight';
	src: url('assets/fonts/Brandon_light.eot');

	src: url('assets/fonts/Brandon_light.eot?#iefix') format('embedded-opentype'),

	url('assets/fonts/Brandon_light.woff') format('woff'),

	url('assets/fonts/Brandon_light.svg#Brandon_light') format('svg'),

	url('assets/fonts/Brandon_light.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

@font-face {
	font-family: 'bgThinIt';
	src: url('assets/fonts/Brandon_thin_it.eot');

	src: url('assets/fonts/Brandon_thin_it.eot?#iefix') format('embedded-opentype'),

	url('assets/fonts/Brandon_thin_it.woff') format('woff'),

	url('assets/fonts/Brandon_thin_it.svg#Brandon_thin_it') format('svg'),

	url('assets/fonts/Brandon_thin_it.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

@font-face {
	font-family: 'bgRegIt';
	src: url('assets/fonts/Brandon_reg_it.eot');

	src: url('assets/fonts/Brandon_reg_it.eot?#iefix') format('embedded-opentype'),

	url('assets/fonts/Brandon_reg_it.woff') format('woff'),

	url('assets/fonts/Brandon_reg_it.svg#Brandon_reg_it') format('svg'),

	url('assets/fonts/Brandon_reg_it.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

@font-face {
	font-family: 'bgBoldIt';
	src: url('assets/fonts/Brandon_bld_it.eot');

	src: url('assets/fonts/Brandon_bld_it.eot?#iefix') format('embedded-opentype'),

	url('assets/fonts/Brandon_bld_it.woff') format('woff'),

	url('assets/fonts/Brandon_bld_it.svg#Brandon_bld_it') format('svg'),

	url('assets/fonts/Brandon_bld_it.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

@font-face {
	font-family: 'bgMed';
	src: url('assets/fonts/Brandon_med.eot');

	src: url('assets/fonts/Brandon_med.eot?#iefix') format('embedded-opentype'),

	url('assets/fonts/Brandon_med.woff') format('woff'),

	url('assets/fonts/Brandon_med.svg#Brandon_med') format('svg'),

	url('assets/fonts/Brandon_med.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}


html {margin:0px; padding:0px; width:100%; height:100%;}
body { color:#3b3b3b; font-size:1em; font-family:'bgBold',arial,helvetica,sans-serif; margin:0px; padding:0px; width:100%; height:100%; no-repeat center fixed; background-size:cover;}
img {border:none; }


h1 { font-family:'bgBlack',arial,helvetica,sans-serif; margin:0px; padding:0px; font-weight:normal; font-style:normal; font-smooth:always; font-size:2.5em; }
h2 { font-family:'bgBlack',arial,helvetica,sans-serif; margin:0px; padding:0px; font-weight:normal; font-style:normal; font-smooth:always; font-size:1.5em;}
h3 { font-family:'bgBold',arial,helvetica,sans-serif; margin:0px; padding:0px; font-weight:normal; font-style:normal; font-smooth:always; font-size:0.8em;}
a {color:#fff; text-decoration:none;}
p { line-height:1.7em;}
.quote {font-family:"bgThinIt",arial,helvetica,sans-serif;}
.post-script {font-family:"bgLight",arial,helvetica,sans-serif;}
.details {font-family:"bgBoldIt",arial,helvetica,sans-serif;}

#wrap { float:right; width:80%; min-height:100%; position:relative;}









/*** nav ***/
#web-nav {width:20%; background:url(assets/img/menu-bg.png) repeat; height:100%; overflow:auto; float:left; z-index:20; position:fixed; left:0px; min-height:600px;}
#web-nav img.logo { margin: 70px auto 85px auto; display:block; width:100px; height:auto;}
#web-nav #menu {color:#fff; text-align:right; list-style-type:none; margin-right:40px; float:right;}
#web-nav #menu a {text-decoration:none; text-transform:uppercase;}
#web-nav #menu a.active {color:#FFDF00; }
#web-nav #menu a:hover {color:#FFDF00; }
#web-nav #menu li {width:100px; height:35px; font-size:1.2em; }
#web-nav #menu .subs ul.link-subs { font-family:'bgMed', arial,Helvetica,sans-serif; display:none; list-style-type:none; font-size:0.5em; margin:10px 0px 10px 0px; padding:0px;}
#web-nav #menu .subs ul.link-subs li {height:20px; margin-top:0px;}
#web-nav #menu .subs:hover a.parent {color:#FFDF00;}
#web-nav #menu .main-link:hover {cursor:pointer;}
/*
#web-nav #menu .subs.work-menu:hover {height:auto;}

#web-nav #menu .subs.work-menu:hover ul.work-subs {display:block;}
#web-nav #menu .subs.work-menu:hover ul.work-subs {display:block;}
*/

#web-nav #menu .subs.blog-menu.show-years { height:auto; }
#web-nav #menu li.active a.parent {color:#FFDF00;}
#web-nav #menu .subs.blog-menu.show-years ul.link-subs { display:block; }

/* on .show-subs, and on .link-subs */
#web-nav #menu .subs.work-menu.show-subs {}
#web-nav #menu li.active a.parent {color:#FFDF00;}
#web-nav #menu .subs.work-menu.show-subs ul.link-subs { display:none; }

#web-nav #address {color:#fff; letter-spacing:0.11em; font-size:0.6em; font-family:'bgMed',sans-serif; text-transform:uppercase; text-align:left; list-style-type:none; position:absolute; bottom:23px; left:35px; padding:0px; margin:0px;}
#web-nav #address li {height:16px;}
#mobile-nav {display:none;}
#mobile-expand {display:none;}

/*** main ***/
#highlight-content { color:#fff; text-align:center; top:50%; position:absolute; width:100%; }
#highlight-content h1 { max-width:80%; margin:0px auto; text-transform:uppercase; padding:0px; line-height:1.2em; letter-spacing:0.2em; }
#highlight-content h3 { max-width:80%; margin:0px auto; text-transform:uppercase; padding:0px; letter-spacing:0.2em; }
#highlight-content h3.play-link { margin-top:20px; }
#highlight-content h3.play-link a { color:#FFDF00; }


/*** about ***/
#wrap.about { height:100%;}
#about { min-height:100%; background:#fff; position:relative; background-color:#fff; margin-bottom:0px;}
#about .outer { border:0px solid black; }



/* header styles */
#about #about-head { height:150px; background-color:#FFF;}
#about #about-head #about-headers {overflow:hidden; list-style-type:none; margin:0px; padding:0px; position:relative; height:100%;}
#about #about-head #about-headers li { width:100%; position:absolute; left:0px; top:50%; margin-top:-20px; display:none; opacity:0;}
#about #about-head #about-headers li h2 {margin:0px 50px; line-height:1em; font-size:2em;}
#about #about-head #about-headers li.current {display:block; opacity:1;}


/*
 * background color of parent div same as callout div. this keeps
 * page at min height of 100% and allows for expansion
 */

#about .extra-wrap.outer { position:absolute; top:0px; right:0px; width:350px; min-height:100%; background-color:#3c3c3c;}
#about .extra-wrap #clients { background-color:#f2f2f2; min-height:200px; overflow:auto; }
#about .extra-wrap #clients h1 { padding:47px 50px; }
#about .extra-wrap #clients ul {margin:0px; padding:0px 20px 50px 20px; list-style-type:none; overflow:auto;}
#about .extra-wrap #clients li {width:33.33333%; float:left; text-align:center; height:70px}

#about .extra-wrap #clients li img {}
#about .extra-wrap #callout { color:#fff; background-color:#3c3c3c; text-align:center;}
#about .extra-wrap #callout p { margin:20px 0px 50px 0px;}
#about .extra-wrap #callout p.quote { font-size:2.3em; text-transform:none; padding:0px 50px; line-height:1.3em; margin:50px 0px 0px 0px;}
#about .extra-wrap #callout span.attached-space { color:#3c3c3c; display:none; }
.footerspace {height:70px; margin:0px; padding:0px; border:0px solid red;}


@media screen and (min-width: 30em) {
	#cont .contact-form .center-wrap .holla-form .ginput_container {width: 62.5%;}
	#cont .contact-form .center-wrap .holla-form .gfield_label {width: 37.5%;}
}

#cont .contact-form .center-wrap .holla-form .gfield-active .ginput_container {width: 100%;}
#cont .contact-form .center-wrap .holla-form .gfield-active .gfield_label {display: none;}
#cont .contact-form .center-wrap .holla-form .gfield-active input {padding: 0;}
#cont .contact-form .center-wrap .holla-form .gfield-active textarea {padding: 0; height: 130px;}
/**/

/**/
.project-form ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.project-form .gfield {
	margin-bottom: 25px;
}
.project-form .gfield.gsection {
	margin-bottom: 15px;
}
.project-form input[type="text"],
.project-form select,
.project-form textarea {
    padding: 0 0 0 10px;
    width: 98%;
    background-color: #efefef;
    border: 0 none;
    color: #3b3b3b;
    font-family: "bgBlack",Arial,Helvetica,sans-serif;
    font-size: 87.5%;
    text-transform: uppercase;
	border-radius: 3px;
	border: 0 none;
	border-top: 2px solid #979797;
	border-left: 1px solid #979797;
	padding: 1px 8px;
}
.project-form input[type="text"] {
	height: 30px;
}
.project-form textarea {
    height: 120px;
}
.project-form select {
	width: 100%;
	height: 34px;
	padding: 0;
}
.project-form .gfield_radio {
	margin-top: 4px;
}
.project-form .gfield_radio input[type="text"] {
	width: 100px;
}
.project-form .gform_button {
	border: 0 none;
	outline: 0 none;
	background-color: #3b3b3b;
	color: #FFFFFF;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 3px;
	font-family: "bgBlack",Arial,Helvetica,sans-serif;
    font-size: 87.5%;
    text-transform: uppercase;
	height: 30px;
	width: 100%;
}
@media screen and (min-width: 30em) {
	.project-form .gfield_radio li {
		display: inline;
		margin: 0 20px 0 0;
	}
}
@media screen and (min-width: 37.5em) {
	.project-form .gfield.gfield-state,
	.project-form .gfield.gfield-zip {
		float: left;
		width: 48%;
	}
	.project-form .gfield.gfield-state {
		margin-right: 2%;
	}
	.project-form .gfield.gfield-zip {
		margin-left: 2%;
	}
}
/**/



/*** FOOTER ***/
footer { margin-left:20%; font-family:'bgMed',arial,helvetica,sans-serif;  font-size:0.6em; color:#fff; height: 70px; position:fixed; left:0px; bottom:0px; width:80%; z-index:15; text-transform:uppercase; background:url(assets/img/footer-bg.png) repeat; }
#footer-content { overflow:auto; height:100%; letter-spacing:0.11em; }
#footer-content #copyright {float:left; margin:30px 0px 0px 3%;}
#footer-content #connect {float:right; list-style-type:none; margin:30px 3% 0px 0px; padding:0px;}
#footer-content #connect .new {display:inline;}
#footer-content #connect li {float:left; margin:0px 2px;}
#footer-content #connect li img {width:80%; height:auto;}














/*button */

.button {
  border-radius: 4px;
  background-color: #b49248;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
